.wfg-fixed-notice {
    background-color: #fff;
    position: fixed;
    z-index: 999999;
    width: 100%;
    color: #fff;
    text-align: center;
    height: 36px;
    box-shadow: 0 0 5px 1px #222;
    top: 0;
}

.wfg-fixed-notice > p {
    background: red none repeat scroll 0 0;
    padding: 5px;
    font-family: helvetica, sans-serif;
    font-weight: bold;
    font-size: 14px;
}

a.wfg-fixed-notice-remove {
    color: #fff;
    position: relative;
    float: right;
    right: 20px;
}

.wfg-gifts {
    padding: 15px;
    text-align: center;
    max-height: 60vh;
    overflow-y: auto;
    z-index: 99;
    -webkit-overflow-scrolling: touch;
}

